@mixin form-container {
	$header-height: 64px;
	.form-container {
		display: flex;
		position: relative;
		justify-content: center;
		padding: 175px 0 100px 0;
		.form-background {
			top: 0;
			left: 0;
			right: 0;
			position: absolute;
			background-color: #42a5f4;
			height: 175px + $header-height;
			border-bottom: 2px solid rgba(8, 34, 24, 0.10);
		}
		.form-body {
			width: 90%;
			max-width: 768px;
			position: relative;
			border-radius: 4px;
			background-color: #ffffff;
			header {
				margin-bottom: 8px;
				letter-spacing: 1px;
				color: rgba(8, 34, 24, 0.8);
			}
			header, footer {
				font-size: 24px;
				min-height: 64px;
				padding: 16px 24px;
				box-sizing: border-box;
			}
			footer {
				display: flex;
				flex-direction: row-reverse;
				button {
					color: #ffffff;
				}
			}
			.form {
				padding: 16px 24px;
				box-sizing: border-box;
				.each-item {
					margin-bottom: 24px;
					p {
						font-size: 16px;
						line-height: 24px;
						margin: 0 0 8px 0;
						color: rgba(8, 34, 24, 0.70);
					}
					&:last-child {
						margin-bottom: 0;
					}
					.radio-button-group {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
					}
				}
			}
		}
	}
}